body    {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(125,155,252);
}
#result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.order  {
    box-shadow: 1px 2px 10px #000;
    padding: 10px;
    border-radius: 8px;
    background: rgb(99, 133, 246);
}
img {
    margin-top: 10px;
    height: 100px;
    box-shadow: 1px 2px 10px #000;
}